<div class="login-container">
  <h2>Table Top Manager</h2>

  <!-- Display error message if login fails -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit">Login</button>
  </form>

  <!-- Registration Button with the new class for styling -->
  <button class="register-button" (click)="goToRegister()">Register</button>
</div>