html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: white;

  /* Centering the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  font-family: 'Luminari', serif; /* Ensure the same font is used */
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: 'Luminari', serif; /* Use the same font */
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

form {
  width: 100%;  /* Ensure the form takes full width like in the login component */
}

button {
  display: block;
  width: 100%;  /* Ensure button takes full width */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin between buttons */
  box-sizing: border-box;  /* Ensure padding and border are included in width */
}

button:hover {
  background-color: #0056b3;
}